{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="content">
    {% include 'accounts/partial/profile_header.html' with user=request.user %}

    <div class="post-list" style="margin-top: 30px;">
        {% for post in posts %}
            {% include 'posts/partial/post_card.html' %}
        {% empty %}
            <div class="profile-empty">
                <p>Публикаций пока нет.</p>
                <a href="{% url 'posts:create' %}" class="link">Добавить публикацию</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
